*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: SFbold;
    src: url(fonts/SF-Pro-Display-Bold.otf);
}
@font-face{
    font-family: SFmedium;
    src: url(fonts/SF-Pro-Display-Medium.otf);
}
@font-face{
    font-family: SFnormal;
    src: url(fonts/SF-Pro-Display-Regular.otf);
}
@font-face{
    font-family: SFthin;
    src: url(fonts/SF-Pro-Display-Thin.otf);
}
body{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, #000000 0%, #250745 100% );
}
.deleteimg{
    width: 20px;
    opacity: 0.5;
    z-index: 10;
}
.editimg{
    width: 28px;
    padding: 4px;
}
.oval-light{
    position: absolute;
    bottom: 0;
    margin-bottom: clamp(-350px,-30vw,-100px);
    height: 400px;
    width: 160%;
    background:linear-gradient(to bottom, #62069F 0%, #FFFFFF 30%);
    border-radius: 50%;
    filter: blur(300px);
    z-index: 4;
}
.canvas{
    background-size: 10px 10px;
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.1) 1px, transparent 1px);;
    width: 100%;
    opacity: 100%;
    flex:1;
    z-index: 5;
}
.control-panel-container{
    width: 100%;
    padding: 20px;
    z-index: 5;
}
.control-pannel{
    width: 100%;
    border-radius: 30px;
    padding:16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.38) 0%, hsla(0, 0%, 7%, 0.38) 100% );
    box-shadow: 0px 0px 18px 0px hsla(0, 0%, 0%, 0.6);
}
.cp-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    justify-content: space-between;
    font-size: 16px;
    font-family: SFnormal;
}
.add{
    color: white;
    padding: 4px;
    cursor: pointer;
}
.delete{
    color: #FC1D1D;
    cursor: pointer;
    padding: 4px;
}
.carousel{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    overflow-y: hidden;
    overflow-x: auto;
    border-radius: 12px;
    height: 140px
}
.carousel::-webkit-scrollbar{
    background-color: transparent;
    border-radius: 20px;
    height: 6px;
}
.carousel::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 10px;
    cursor: pointer;
}
.notes-card{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    padding: 16px;
    gap: 6px;
    height: 120px;
    background-color: white;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.1s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.openBtn{
    font-family: SFmedium;
    font-size: 14px;
    color: #888888;
    padding: 6px 12px;
    border: 1px solid #888888;
    border-radius: 20px;
    width: fit-content;
}
.card-top-row, .card-bottom-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}
.card-top-row svg{
    color: #888888;
}
.date{
    color: #888888;
    font-size: 12px;
    font-family: SFnormal;
}
.title{
    font-family: SFbold;
    font-size: 20px;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


@keyframes showPopUp{
    0%{
        opacity:0;
        border-radius: 50%;
        width: 50px;
        height: 50px; 
    }
    100%{
        opacity:1;
        border-radius: 30px;
        width: 100%;
        height: 100%; 
    }
}
@keyframes exitPopUp{
    0%{
        opacity:1;
        border-radius: 30px;
        width: 100%;
        height: 100%; 
    }
    100%{
        opacity:0;
        border-radius: 50%;
        width: 50px;
        height: 50px; 
    }
}
.showPopUp{
    animation-name: showPopUp;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.1, 0.75, 0.85, 0.35);
}
.exitPopUp{
    animation-name: exitPopUp;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.1, 0.75, 0.85, 0.35);
}
.addPopUpContainer, .editPopUpContainer{
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 65%;
    z-index: 100;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.addPopUp, .editPopUp{
    display: flex;
    opacity: 0;
    padding: 20px;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 18px 0px hsla(0, 0%, 0%, 0.6);
    border-radius: 30px;
    width: 100%;
    height: 100%;
    gap: 16px;
}
.add-add-button, .edit-edit-button{
    align-self: flex-end;
    padding-right: 6px;
    font-size: 16px;
    font-family: SFnormal;
    padding: 4px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.date-container, .edit-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-family: SFmedium;
}
.addPopUp textarea, .editPopUp textarea{
    flex: 1;
    resize: none;
    font-family: SFmedium;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: none;
    border: 1px solid rgba(128, 128, 128, 0.06);
    background-size: 14px 14px;
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.06) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.06) 1px, transparent 1px);;
}
.textarea-background{
    height: 100%;
    width: 100%;
}
.addPopUp label, .editPopUp label{
    font-family: SFbold;
}
.add-title-container, .edit-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: black;
    font-size: 20px;
    width: 100%;
}
#add-title, #edit-title{
    font-size: 20px;
    font-family: SFmedium;
    padding: 6px;
    flex: 1;
    min-width: 0px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: transparent;
}
.add-top-row, .edit-top-row{
    padding: 0px 6px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #888888;
    font-family: SFmedium;
}
.add-date-delete, .edit-date-delete{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-exit, .edit-exit{
    cursor: pointer;
}

.noteCanvasPopUp{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 18px 0px 
    hsla(0, 0%, 0%, 0.6);
    top: 0;
    left: 0;
    z-index: 10;
    min-width: 160px;
    padding: 16px;
    border-radius: 12px;
}
.noteCanvas-top-row{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.noteCanvas-date-delete{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.noteCanvas-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    font-family: SFmedium;
    color: #888888;
}
.noteCanvas-close{
    width: 22px;
    opacity: 60%;
    cursor: pointer;
}
.noteCanvas-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.noteCanvas-title-container{
    display: flex;
    flex: row;
    align-items: center;
    gap: 6px;
    font-size: 18px;
    font-family: SFnormal;
}
.noteCanvas-title{
    font-family: SFbold;
}
.noteCanvasContent{
    width: 140px;
    max-height: 30vh;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 12px;
    line-height: 1.4;
    font-family: SFnormal;
}












@media screen and (min-width:1000px){
    .add-title-container{
        font-size: 24px;
    }
    .addPopUp textarea{
        padding: 14px;
    }
    .edit-title-container{
        font-size: 24px;
    }
    .editPopUp textarea{
        padding: 14px;
    }
}



.drag{
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    cursor: pointer;
    z-index: 999;
}